*,
*:after,
*:before {
    box-sizing: border-box;
}

$principal-font: 'Bebas Neue',
cursive;

body {

    .wrapper {
        min-width: 100vw;
        min-height: 100vh;
        background-image: url(/SRC/first-background.png);
        background-size: cover;
        background-position: center;
        background-blend-mode: multiply;
        font-family: $principal-font;

        .header {
            padding: 10px;
            display: flex;
            justify-content: space-between;
            
            &-img {
                margin-left: 100px;
                
            }

            .nav {
                display: flex;

                &-anchors {
                    font-size: 1.5rem;
                    padding: 15px;
                    text-decoration: none;
                    color: #fafafa;
                    margin-right: 50px;
                }
            }
        }
    }
}